@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(193, 193, 193);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(212, 100%, 37%, 0.2);
  }
}

